# Environments
venv/
env/
.env
.spotify_token.json
.cicada_config.json
compile_intel.sh

# MacOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.vscode/
.idea/

# Logs and Reports
cicada_report.json
*.log

# PyInstaller build artifacts
build/
dist/
dist_installer/
